.jumbotron {

    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background: #c7afaf;
    color: floralwhite;
}

.row-header{


    margin:0px auto;
    padding: 0px auto;
    text-align: center;

}